/* !=== ОБЩИЕ НАСТРОЙКИ ===*/
*,
*::before,
**::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

img {
  display: block;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.list,
.item {
  margin: 0px;
}

:root {
  --text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --hero-bg: #2f303a;
  --main-bg: #e5e5e5;
  --team-bg: #f5f4fa;
  --header-bg: #ffffff;
  --address-color: #rgba(255, 255, 255, 0.6);
}

/* !HEADER*/
.header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.header .logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  color: var(--title-color);
  letter-spacing: 0.03em;
}

.logo .accent {
  color: var(--accent-color);
}
.link,
.item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.link {
  color: var(--title-color);
}

.contacts.link {
  color: var(--text-color);
}
